<section class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Task Manager</h1>
    </div>
    <div class="col-12">
      <nb-form-field>
        <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
        <input type="search" nbInput fullWidth placeholder="Press enter to search" class="bg-white" (search)="filter('search', $event)"/>
      </nb-form-field>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12">
      <nb-card [size]="'large'" class="bg-transparent border-0">
        <nb-card-header>
          <div class="float-left">
            <h2 class="font-weight-normal ">Tasks</h2>
            <div class="row mt-2">
              <div class="col d-flex justify-content-around p-2">
                <nb-select class=" form-control" placeholder="Select priority"
                           [(selected)]="filterValue['priority']"
                           (selectedChange)="filter('priority' , $event)">
                  <nb-option *ngFor="let option of priorityFilter" [value]="option.value">
                    {{option?.label}}
                  </nb-option>
                </nb-select>
                <input nbInput placeholder="Select Date" [nbDatepicker]="datepicker"  [(ngModel)]="filterValue['due_date']"/>
                <nb-datepicker #datepicker (dateChange)="filter('due_date' , $event)"></nb-datepicker>
                <button nbButton outline class="ml-2 bg-white" status="danger" shape="round" (click)="clearFilter()">
                  <nb-icon icon="close-outline"></nb-icon>
                  clear
                </button>
              </div>
            </div>
          </div>
          <div class="float-right ">
            <button nbButton status="primary" (click)="addTasks()">+ Add Task</button>
          </div>
        </nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item *ngFor="let task of tasks ; let i= index;" class="bg-white shadow-sm m-2">
              <div class="row w-100 p-1">
                <div class="col-md-8  m-auto">
                  <h4 class="text-left text-info text-wrap">{{task?.message | titlecase}}</h4>
                  <p class="text-left">{{task?.due_date | date: 'shortDate'}}<span class="text-muted">&nbsp;({{priority[task?.priority] | titlecase}} &nbsp;Priority)</span>
                  </p>
                </div>
                <div class="col-md-2 d-flex justify-content-end align-items-center">
                  <div class="form-group">
                    <label class="label"> Assign to</label>
                    <nb-select class=" form-control"   [(selected)]="task.assigned_to" (selectedChange)="assign($event, task)">
                      <nb-option *ngFor="let option of users" [value]="option?.id">
                        {{option?.name}}
                      </nb-option>
                    </nb-select>
                  </div>
                </div>
                <div class="col-md-2  d-flex justify-content-end align-items-center">
                  <div class="align-self-center">
                    <button nbButton shape="round" status="danger" filled (click)="deleteTask(task?.id)">
                      <nb-icon icon="trash-outline"></nb-icon>
                    </button>
                    <button nbButton shape="round" status="primary" filled class="ml-2" (click)="updateTask(task)">
                      <nb-icon icon="edit-outline"></nb-icon>
                    </button>
                  </div>
                </div>
              </div>
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</section>
